@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

html {
    font-family: 'Dancing Script', cursive;
}

body {
    background-image: url(/src/assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}